*{
    box-sizing: border-box;
   }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    text-align: center;
    flex-direction: column;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 122px;
    margin-right: 88px;
    border: solid;
}

.container{
    width: 1110px;
    height: 700px;
    background: #EEF9BF;
}
.cabecalho {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 40px;
    margin-bottom: 24px;  
}
.conteudo-principal{
    border: solid;
    display: flex;
    justify-content: center;
    width: 950px;
    margin-left: 100px;
}
.baralho {
    display: flex; 
    width: 900x;
    height: 550px;
    border: solid;
    border-color: red;
    flex-wrap: wrap;
    position: relative;
}
.carta-background {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
   
}


  .carta-background:hover .back-face {
    transform: rotateY(0deg);
  }

  .carta-background:hover .front-face {
    transform: rotateY(-180deg);
  }

  /* ajeitando classes */

  .card {
    width: 117px;
    height: 146px;
    margin-right: 34px;
    margin-bottom: 34px;
    position: relative;
}
.card img {
    width: 100%px;
    height: 100px;
}
.face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front-face {
    transform: rotateY(180deg);
}
.back-face {
    transform: rotateY(0deg);
}
  .screen_click_on {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: none;
    z-index: -1;
}



