*{
    box-sizing: border-box;
   }

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1110px;
    height: 700px;
    background: #EEF9BF;
}
.cabecalho {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 40px;
    margin-bottom: 24px;  
}
.conteudo-principal{
    border: solid;
    display: flex;
    justify-content: center;
    width: 950px;
    margin-left: 100px;
}
.baralho {
    display: flex;
    width: 900x;
    height: 550px;
    border: solid;
    border-color: red;
    flex-wrap: wrap;

}
.carta-background {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
   
}
.tamanho-papagaio {
    width: 100px;
    height: 100px;
}